* {
    background-color: blueviolet;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
.header {
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
    display: flex;
    background: dimgrey 
}
/* The nav bar will redirect the user to the corresponding area of the page */
nav {
    
    justify-content: end;
    display: flex;
    padding: 2rem;
    
       
}
section p {
    display: flex;
    border: 6px solid rgb(3, 7, 7);
    
}
a {
    padding-right: 2rem;
    color: black;
}
p {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}