* {
    background-color: blueviolet;
    box-sizing: border-box;
}
.header {
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
    display: flex;
    background: dimgrey 
}
.header nav {
    display: flex;
    justify-content: space-evenly;

}
nav {
    display: flex;
    width: 200px;
    
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    border: 3px solid black;
    padding: 10px;
    list-style-type: none;
}
section p {
    display: flex;
    border: 6px solid rgb(3, 7, 7);
    
}
p {
    font-family: 'Edu VIC WA NT Beginner', cursive;
}