* {
    background-color: blueviolet;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
.header {
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
    font-size: 4rem;
    display: flex;
    background: dimgrey 
}
/* The nav bar will redirect the user to the corresponding area of the page */
nav {
    
    justify-content: end;
    display: flex;
    padding: 2rem;
    
       
}
section {
    display: grid;
    justify-content: space-evenly;
    margin: 3rem;
    border-radius: 15%;
    border-style: double;
    border: 1rem ridge;
    
}
section p {
    display: flex;

    
}
a {
    padding-right: 2rem;
    color: black;
}
p {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: medium;
}
.bio {
    display: flex;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: large;
}
img {
    width: 50%;
    height: 50%;
    border: 1rem solid gray;
    
}
.about {
    display: flex;
    justify-content: space-evenly;
}